.contact-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  background: var(--mainColor);
  color: var(--background);
}

.map {
  width: 50%;
  height: 700px;
}

.contact-right {
  width: 50%;
  margin-left: 50px;
}

.contact-right h1 {
  text-transform: uppercase;
}

.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 25px;
  margin-top: 25px;
}
.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box {
  width: 100%;
  height: 100%;
  margin: 20px 0px;
  letter-spacing: 2px;
  text-align: center;
}

.box i {
  margin-right: 5px;
  font-size: 2rem;
}

.box h1 {
  margin-right: 25px;
  font-size: 1.3rem;
}

.box p {
  font-weight: 200;
}

.contact-link {
  display: flex;
  justify-content: end;

  margin: 25px 25px;

  text-decoration: none;
  text-transform: uppercase;
  color: var(--background);
  font-size: 1.7rem;
  font-weight: 200;
  transition: 0.3s ease;
}

.contact-link:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 1024px) {
  .contact-wrapper {
    flex-direction: column;
    margin: 0;
  }

  .map {
    width: 100%;
    height: 325px;
  }

  .contact-right {
    margin: 25px 0;
    text-align: center;
  }

  .box {
    margin: 10px 0;
    display: flex;

    align-items: start;
    text-align: start;
  }

  .box i {
    margin-right: 5px;
    font-size: 1rem;
  }

  .box h1 {
    font-size: 1rem;
    margin-right: 10px;
  }

  .box p {
    font-size: 0.8rem;
  }

  .grid2x2 {
    flex-direction: column;
    margin-left: -75px;
  }

  .contact-link {
    font-size: 0.8rem;
  }
}
