#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: clamp(100px, 90%, 1000px);
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.contact-links,
.contact-form-wrapper {
  width: 50%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-links {
  background-image: url('/public/homechat.jpg');
  background-color: #301f43;
  background: radial-gradient(
      circle at 95% 92%,
      #2e1846 0 12%,
      transparent 12.2%
    ),
    radial-gradient(circle at 4% 72%, #251642 0 10%, transparent 10.2%),
    radial-gradient(
      circle at 40% max(78%, 350px),
      #402653 0 7%,
      transparent 7.2%
    ),
    radial-gradient(circle at 100% -20%, #24103e 0 40%, transparent 40.2%),
    #17111c;
  border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
  background-color: var(--background);
  border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 1024px) {
  .contact-box {
    margin: 0;
  }

  .contact-links,
  .contact-form-wrapper {
    width: 100%;
  }

  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
  .contact-box {
    width: 100%;
    margin: 0;
  }
}

h2 {
  color: var(--background);
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(0.95, 1);
}

h3 {
  color: var(--background);
  font-size: clamp(25px, 2vw, 20px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(0.95, 1);
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.link {
  margin: 10px;
  cursor: pointer;
}

i:hover {
  transform: scale(1.1, 1.1);
  color: var(--mainColor);
  cursor: pointer;
}

.form-item {
  position: relative;
  margin: 5px;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: var(--secText);
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input,
textarea {
  width: 100%;
  outline: 0;
  border: 1px solid var(--secText);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all 0.225s ease;
}

.submit-btn {
  background-color: var(--mainColor);
  filter: drop-shadow(2px 2px 3px #0003);
  color: var(--background);
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: clamp(30px, 12vw, 60px);
  }

  .links {
    padding-top: 30px;
  }

  img {
    width: 38px;
    height: 38px;
  }
}
