header {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;

  height: 100px;
  position: fixed;
  z-index: 1;
  font-size: 1.4rem;
}

.navbar-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar {
  background-color: transparent;
  backdrop-filter: blur(5px);
  transition: 0.5 ease;
}

.link {
  margin: 10px 25px;
  text-decoration: none;
  transition: 0.3s ease;
  color: var(--background);
}

.link:hover {
  color: var(--mainColor);
  font-weight: 800;
}

.navbar.active {
  background-color: var(--background);
  color: var(--mainText);
}

.navbar.active .link {
  color: var(--mainText);
  transition: 0.3s ease;
}

.navbar.active .link:hover {
  color: var(--mainColor);
  font-weight: 800;
}

.navbar img {
  width: 50%;
  height: 50%;
  margin-left: 25px;
  transition: 0.3s ease-in-out;
}

.navbar img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  header {
    font-size: 1.1rem;
  }

  .navbar img {
    margin-left: 0;
  }
}
